<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find uni_car)/maps/map_track.yaml"/>
  <!--<arg name="cmd_vel_topic" default="/cmd_vel" />-->
  <arg name="cmd_vel_topic" default="/ackermann_steering_controller/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="true"/>

  <!-- Map server -->
  <!--<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>-->

  <!-- AMCL -->
  <include file="$(find uni_car)/launch/amcl.launch"/>

  <!-- move_base -->
<!--
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find uni_car)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find uni_car)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find uni_car)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find uni_car)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find uni_car)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find uni_car)/param/dwa_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	<rosparam file="$(find uni_car)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	<rosparam file="$(find uni_car)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
  	<rosparam file="$(find uni_car)/param/local_costmap_params.yaml" command="load" />
  	<rosparam file="$(find uni_car)/param/global_costmap_params.yaml" command="load" />
  	<rosparam file="$(find uni_car)/param/teb_local_planner_params.yaml" command="load" />

	<!--<param name="base_global_planner" value="global_planner/GlobalPlanner" />-->
    <param name="base_global_planner" value="navfn/NavfnROS" />
	<param name="planner_frequency" value="1.0" />
	<param name="planner_patience" value="5.0" />

	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	<param name="controller_frequency" value="5.0" />
	<param name="controller_patience" value="15.0" />

    <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>

<!--
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <rosparam file="$(find uni_car)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find uni_car)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find uni_car)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find uni_car)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find uni_car)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find uni_car)/param/local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
-->

  </node>


</launch>
